<!DOCTYPE html>

<html>
  <head>
    <title>
      Home
    </title>

    <style>
      input {
        padding: 20px;
        border: 1px solid black;
      }

    </style>
  </head>

  <body>
    <h1><%= title %></h1>

    <ul>
      <% for (var i = 0; i < students.length; i++) { %>
        <li> <%= students[i] %> </li>
      <% } %>
    </ul>

    <ul>
      <% students.forEach((student) => { %>
        <li><%= student %></li>
      <% }) %>
    </ul>

    <a href="/about">About this class</a>

    <form action='/submit' method='POST'>
      <input type="text" name="color">
      <input type="submit">
    </form>
  </body>
</html>
