<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>
      Home
    </title>

    <style>
      input {
        padding: 20px;
        border: 1px solid black;
      }
    </style>

    <!-- express.static('public') example -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>
    <!-- Moved the header into a global partial -->
    <!-- <h1><%=// title %></h1> -->
    <% include ./global/header %>

    <ul>
      <% for (var i = 0; i < students.length; i++) { %>
        <li> <%= students[i] %> </li>
      <% } %>
    </ul>

    <ul>
      <% students.forEach((student) => { %>
        <!-- <li><%=// student %></li> -->
        <% include ./partials/students %>
      <% }) %>
    </ul>

    <form action='/submit' method='POST'>
      <input type="text" name="color">
      <input type="submit">
    </form>

    <!-- Moved the footer into a global partial -->
    <!-- <a href="/about">About this class</a> -->
    <% include ./global/footer %>

  </body>
</html>
